<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <include file="nlog-*.config" ignoreErrors="true"/>

  <targets async="true">
    <target name="file"
            xsi:type="File"
            encoding="utf-8"
            writeBom="true"
            fileName="${basedir}/log.txt"
            concurrentWrites="true" />
    <target name="file-web" xsi:type="File"
            encoding="utf-8"
            writeBom="true"
            fileName="${basedir}/log.txt"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message} |url: ${aspnet-request-url} |action: ${aspnet-mvc-action}| ${exception:format=tostring}"
            concurrentWrites="true" />
    <target name="queries"
            xsi:type="File"
            encoding="utf-8"
            writeBom="true"
            fileName="${basedir}/queries.txt"
            layout="--${longdate}${newline}${message}${newline}GO${newline}"
            concurrentWrites="true" />
    <target name="console" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Warn" writeTo="file-web" final="true" />
    <logger name="Microsoft.*" minlevel="Trace" final="true" />
    <logger name="SqlQueries" minlevel="Trace" writeTo="queries" final="true" />
    <logger name="SqlQueries" minlevel="Trace" final="true" />
    <logger name="*" minlevel="Trace" writeTo="file" />
    <!-- <logger name="*" minlevel="Trace" writeTo="console" /> -->
  </rules>

</nlog>
